.body_backgorund 
{
    background-image:url("funds-christmas-2982479_1280.webp");
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
	border-color:rgb(15, 240, 150);
}





